/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*{
  outline: none;
}

/* Logo */
.logo {
  margin-top: 2% !important;
  max-width: 30%;
  display: block;
  margin: auto;
}
.logo img {
  width: 100%;
}

/* Navbar  */
.MainNav{
  display: flex;
  margin-top: 2%;
  justify-content: space-evenly;
}
.fa
.MainNav .mid{
  width: 60%;
}
.MainNav .mid input{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
