/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-datetime-edit {
  padding: 10px;
  /* border-radius: 60px; */
}
/* ::-webkit-datetime-edit-fields-wrapper { background: silver; } */
/* ::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; } */
/* ::-webkit-datetime-edit-month-field { color: blue; } */
/* ::-webkit-datetime-edit-day-field { color: green; } */
/* ::-webkit-datetime-edit-year-field { color: purple; } */
/* ::-webkit-inner-spin-button { display: none; } */
::-webkit-calendar-picker-indicator {
  background-image: url("./Assets/Shopping\ Bag.png");
}

input[type = date]{
  border-radius: 10px;
  background-color: #ccc; 
  border : 2px solid #ccc
}

* {
  outline: none;
}

/* Logo */
.logo {
  margin-top: 2% !important;
  max-width: 30%;
  display: block;
  margin: auto;
}
.logo img {
  width: 100%;
}

/* Navbar  */
.MainNav {
  display: flex;
  margin-top: 4%;
  justify-content: space-evenly;
  gap: 20px;
}
.MainNav .left {
  margin-top: 1%;
}
.fa-bars {
  font-size: 3rem;
  cursor: pointer;
}
.MainNav .mid {
  width: 80%;
}

.MainNav .right img {
  width: 80%;
}
.MainNav .mid input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  height: 80px;
}
.fa-magnifying-glass {
  font-size: 2.5rem;
  position: absolute;
  /* right: 12%; */
  margin-left: 75%;
  color: #ccc;
  /* top: 25%; */
  margin-top: 20px;
}

/* Carousel */
.ImageCarousel {
  margin-top: 5% !important;
  width: 100%;
  margin-bottom: 5%;
}

.CImage {
  height: 800px;
}

.arrow {
  font-size: 2rem;
  cursor: pointer;
  border: 1px solid black;
  padding: 5px;
  border-radius: 100%;
  z-index: 9999;
}

.fa-arrow-left {
  position: absolute;
  top: 40%;
  left: 1%;
}

.fa-arrow-right {
  position: absolute;
  top: 40%;
  right: 1%;
}

/* Two-section */
.two-sec {
  display: flex;
  justify-content: space-around;
}
.two-sec .left {
  width: 40%;
}
.two-sec .left img {
  width: 100%;
  height: auto;
}
.two-sec .right {
  text-align: center;
  padding-top: 10%;
}
.two-sec .right {
  width: 50%;
}
.two-sec .right p {
  font-size: 1.4rem;
  font-weight: 200;
}
.two-sec .right button {
  width: 80%;
  padding: 10px;
  background: transparent;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.5s;
}

.two-sec .right button:hover {
  background-color: black;
  color: #fff;
}

.pro {
  display: flex;
  margin-top: 10%;
  margin-bottom: 3rem;
  justify-content: space-between;
  margin-left: 9%;
  margin-right: 10%;
}
.pro h1 {
  font-weight: 700;
}
.pro button {
  width: 15%;
  padding: 10px;
  background: transparent;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 700;
}

.Desc {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
  margin-bottom: 5%;
  width: 90%;
  font-size: 0.8rem;
  float: left;
  margin-left: 4.1%;
}

.product {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-left: 5%;
  gap: 20px;
}
.camera {
  margin-top: 70px;
  width: 90%;
  /* position: absolute; */
  /* top: 20%; */
  /* left: 5px; */
}
.carioke {
  position: absolute;
  top: 29%;
  left: 5%;
}
.ProductCard {
  text-align: center;
  padding: 10px;
  width: 20rem;
  position: relative;
}
.desc2 {
  display: none;
}

.Review {
  width: 10%;
  display: block;
  margin: auto;
  margin-top: 2%;
}
.customerR {
  margin-top: 5% !important;
  font-size: 1.5rem;
  text-align: center;
  display: block;
  margin: auto;
}
.ReviewImage {
  margin-top: 3% !important;
  width: 10%;
  display: block;
  margin: auto;
}
.new {
  display: flex;
  gap: 20px;
}
.new p {
  min-width: 100px;
  font-size: 1.3rem;
  margin-top: 10%;
}

.ReviewCarousel {
  margin-top: 1% !important;
  width: 100%;
  display: block;
  margin: auto;
}

.photo {
  display: flex;
  justify-content: space-evenly;
}
.photo .left {
  width: 40%;
}
.photo .left img {
  width: 100%;
}

.photo .right .up .images {
  width: 309px;
}

.photo .right .up img {
  /* width: 309px; */
  width: 90%;

  padding: 50px;
  height: 338px;
  border: 1px solid #ccc;
}

.photo .right .up {
  display: flex;
  gap: 20px;
  /* margin-left: 10%; */
}

.images p {
  font-size: 0.8rem;
  max-width: 295px;
}
.many {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 5%;
}
#app {
  margin-top: 25%;
}
#clock {
  margin-top: 18%;
}
.Give {
  width: 100%;
  margin-bottom: 5%;
}
.Give img {
  width: 100%;
  height: auto;
}

.human {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-evenly;
}
.Hori {
  border-right: 1px solid black;
  height: 200px;
}

/* Footer */
.footer {
  width: 100%;
  min-height: 120vh;
  bottom: 0;
  color: #ffffff;
  background-image: url("./Assets/Footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer p {
  font-weight: 100;
  font-size: 1.5rem;
  padding-top: 2%;
  padding-left: 2%;
}
.footer .menu {
  float: right;
}
.footer .menu ul li {
  list-style-type: none;
  font-size: 1.8rem;
  text-align: right;
  font-weight: 700;
  padding-right: 5rem;
  padding-top: 5rem;
  cursor: pointer;
}
.Foo-Icon {
  display: flex;
  gap: 30px;
  margin-left: 50px;
}
.last-Icon {
  display: flex;
  margin-left: 50px;
  gap: 20px;
}
.last-Icon img {
  width: 30px;
  height: 35px;
  font-weight: 100;
}
.Foo-Icon img {
  width: 45px;
  height: 55px;
}
.special {
  display: flex;
}
.t-p {
  position: absolute;
  margin-top: 39%;
  width: 100%;
}

.sideBar {
  margin-top: 40px;
  position: absolute;
  z-index: 99999;
  border: 1px solid rgb(0, 0, 0);
  width: 300px;
  height: 500px;
  left: -350px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.5s;
  border-radius: 20px;
}
.sideBar ul {
  padding-top: 20px;
  display: block;
  margin: auto;
  float: left;
}
.sideBar ul li {
  padding-top: 5px;
  font-size: 1.2rem;
  font-weight: 100;
  list-style-type: none;
  width: 100%;
  color: #fff;
  cursor: pointer;
}
.sideBar ul li:hover {
  margin-top: 10px;
  background-color: #fff;
  color: black;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  /* font-size: 1.4rem; */
}

.Main-Img {
  /* display: flex; */
  position: absolute;
  left: 40%;
  margin-top: 15%;
}
.Main-Img img {
  width: 40%;
  left: 50%;
}

.SingleP{
  display: flex;
  margin-left: 20px;
  margin-top: 5%;
}

.BP{
  border: 1px solid black;
  height: 80px;
  width: 80px;
  margin-top: 10px;
  
}
.fa-star{
font-size: 1.8rem;
}
.SingleP .mid img {
  width : 50%
}
.SingleP .right{
  width: 60%;
}

.SingleP .right .left {
margin-left: ;
}




/* Media Query  */
@media (max-width: 768px) {
  .MainNav .mid .fa-magnifying-glass {
    margin-left: 50%;
  }
  .MainNav .left {
    margin-left: 10px;
  }
  .CImage {
    height: 400px;
  }
  .two-sec {
    display: block;
  }
  .two-sec .left {
    width: 100%;
    padding: 10px;
  }
  .two-sec .right {
    width: 100%;
  }
  .pro {
    display: block;
    margin-top: 8%;
  }
  .pro h1 {
    display: block;
    margin: auto;
    text-align: center;
  }
  .pro button {
    width: 80%;
    margin-top: 3% !important;
    display: block;
    margin: auto;
  }
  .pro .right button {
    margin-top: 5%;
    width: 60%;
    display: block;
    margin-left: 10%;
    float: none;
    font-size: 1.5rem;
  }
  .product {
    display: block;
  }
  .camera {
    position: inherit;
  }
  .carioke {
    position: inherit;
  }
  .ProductCard {
    display: block;
    margin: auto;
    margin-top: 2%;
  }
  .Desc {
    display: none;
  }
  .desc2 {
    display: block;
    width: 20rem;
    margin: auto;
  }
  .customerR p {
    font-size: 1rem;
    display: block;
    margin: auto;
    max-width: 300px;
    text-align: center;
    /* margin-left: 12%; */
  }
  .photo {
    display: block;
  }
  .photo .left {
    width: 90%;
  }
  .photo .left img {
    margin-left: 5%;
  }
  .photo .right .up {
    display: block;
    margin-top: 5% !important;
    margin: auto;
  }
  .photo .right .up .images {
    /* margin-left: 5%;
     */
    display: block;
    margin: auto;
  }
  .photo .right .up .images img {
    display: block;
    margin: auto;
  }
  .photo .right .up .images p {
    text-align: center;
  }
  .many {
    display: block;
  }
  .many img {
    display: block;
    margin: auto;
  }
  #app {
    margin: auto;
  }
  #clock {
    margin: auto;
  }
  .human {
    display: block;
    margin: auto;
    margin-top: 2% !important ;
  }
  .Hori {
    display: none;
  }
  .human img {
    display: block;
    margin: auto;
    margin-top: 0 !important;
  }
  .human h3 {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 5%;
  }
  .human div {
    margin-top: 50px;
  }
  .footer p {
    text-align: center;
    display: block;
    margin: auto;
  }
  .footer .menu {
    float: none;
    text-align: center;
  }
  .footer .menu ul li {
    text-align: center;
    font-weight: 500;
    padding-right: 0;
    padding-top: 2rem;
  }
  .t-p {
    margin-top: 30%;
  }
  .Foo-Icon {
    margin-left: 40%;
    margin-top: 2%;
  }
  .last-Icon {
    margin-left: 40%;
    margin-top: 3%;
  }
}
